*{
    box-sizing: border;
    margin: 0;
    padding:0;
}

/* HEADER */
header h1{
    margin-top:10px;
    /* font-size: 25px; */
    text-align: center;
    color: pink;
}


/* POUR CENTRER LE MORPION */
main div{
    display:flex;
    justify-content: center;
    margin-top: 15px;
}



/* TAILLES DES CASES DU MORPION */
main div table tr td {
    width:80px;
    height: 80px;
    background-color: white;
    border-style:solid;
    border-color:gray;
    cursor: pointer;
}

/* POUR LE STYLE DU NOM DES JOUEURS ET DU GAGNANT */
#nomJoueur,#gagnant{
    text-align: center;
    font-size:20px;
   
}

/* STYLE POUR LES SYMBOLES  */
.X{
    color:black;
    font-size: 30px;
}

.O{
    color:grey;
    font-size: 30px;
}

/* POUR FAIRE LE RESET */
#reset {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
  
  /* style du bouton reset  */
#btn-reset {
    padding: 10px;
    border-radius: 5px;
    background-color: pink;
    border-color: pink;

    font-weight: 500;
    cursor: pointer;
}